.env
trainvenv/
testervenv/
src/seqtrainer.egg-info/
src/saved-data
dist
testvenv/
seqtrainer-data
dnabert-out
dnabertvenv
outputs/
data/promoter_classification/
external/
__pycache__/
*.py[cod]
.pytest_tmp/
