sbol2
matplotlib
rdflib==6.3.2
pandas==1.3.5
numpy==1.23.5
configparser==6.0.0
scikit-learn==1.3.0
transformers==4.30.2
tqdm==4.65.0
# torch==1.13.0+cpu
# torch-cluster==1.6.3
# torch-geometric==2.4.0
# torch-scatter==2.1.2
# torch-sparse==0.6.18
# torch-spline-conv==1.2.2+pt113cpu
# torchaudio==0.13.0+cpu